.chat-page{
    background-color: var(--bgClr);
    height: 100vh;
    position: absolute;
    inset: 0;
}

.windows{
    height: 70%;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Edu VIC WA NT Beginner', cursive;

}

.logo{
    margin-inline-end: auto;
    margin-inline-start: 1rem;
    font-size: xx-large;
    font-weight: bold;
}

.msg-area{
    background-color: var(--ClrLoginInside);
    margin: 2rem;
    margin-bottom: 1rem;
    overflow: auto;
    height:90%;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}


.msg-area li{
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    display: block;
    width: fit-content;
}
.msg-area .me{
    background-color: var(--ClrBtnHover);
    align-self: flex-start;
}

.msg-area .others{
    background-color: var(--bgClr);
    align-self: flex-end;
}

.msg-area li p{
    margin: 0.2rem;
}

.msg-area li:hover{
    cursor: auto;
}

.rooms-area{
    background-color: var(--ClrLoginInside);
    margin: 1rem;
    overflow: auto;
    height:30%;
    width: 15rem;
    box-sizing: border-box;
}

.users-area{
    background-color: var(--ClrLoginInside);
    margin: 1rem;
    overflow: auto;
    height:51%;
    width: 15rem;
    box-sizing: border-box;
}

.sending-msg-area{
margin-inline-start: 10%;
font-size: 1.3rem;
}

.to{
    border: 1px solid black;
    min-width: 2.3rem;
    min-height: 0.7rem;
    display: inline-block;
    padding: 0.3rem;
    vertical-align: middle;
    margin-inline-start: 0.5rem;
    font-size: 1rem;
}

.sending-msg-area input{
    margin-block-start: 1rem;
    width: 60%;
    text-align: start;
    padding: 0.5rem;
    padding-inline-start: 1rem;
}

.modal-msg{
    position: absolute;
    background-color: var(--msgBgClr);
    border: 1.5px solid var(--msgBorderClr);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 10;
    top:2rem;
    right:30%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.modal-msg button{
    background-color: transparent;
    color:var(--msgBorderClr);
    font-size: 0.7rem;
    margin-inline-end: 0;
    padding: 0;
    text-align: end;
}

.modal-msg button:hover{
   scale:1;
}

.chat-end-ref{
    position: absolute;
    bottom: 0;
    left: 0;
}

.actions{
    margin-inline-start: 10%;
    margin-block-start: 0;
    margin-block-end: 1rem;
}

.actions button{
    border-radius: 0%;
    color:rgb(246, 243, 243)
}

.invite-btn{
    background-color: var(--btnInviteClr);
}

.delete-btn{
    background-color: var(--btnDeleteClr);
}

.invite-btn:hover{
    background-color: var(--btnInviteClrHover);
}

.delete-btn:hover{
    background-color: var(--btnDeleteClrHover);
}

.rooms-area-mobile{
    border: 1px solid black;

}

.mobile-header{
    display: flex;
    align-items: center;
    background-color:var(--ClrBtn);
    color:var(--ClrLoginInside);
}

.mobile-header i{
    margin-inline: 0.5rem;
}

.mobile-modal{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 5;
    color: var(--ClrLoginInside);
    background-color:var(--ClrBtn);
}

.mobile-modal li{
    border: 1px solid var(--ClrLoginInside);
    margin: 0;

}

.rooms-area-mobile li{
    border: 1px solid black;
    margin: 0;
    padding: 0.5rem;
    overflow-y: auto;
}

