:root {
    --bgClr: lightgray;
    --ClrBtn: green;
    --ClrBtnHover: rgb(123, 231, 123);
    --ClrLogonBorder: rgb(110, 110, 110);
    --ClrLoginInside: aliceblue;
    --ClrList:rgb(175, 173, 173);
    --msgBgClr:rgb(147, 245, 245);
    --msgBorderClr:rgb(40, 123, 158);
    --btnInviteClr:rgb(244, 144, 12);
    --btnDeleteClr:rgb(244, 37, 37);
    --btnInviteClrHover:rgb(248, 213, 136);
    --btnDeleteClrHover:rgb(245, 163, 163);
}